:host {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
}

.item-block-container {
  position: relative;
  padding-right: 20px;
  padding-left: 20px;

  .title {
    display: inline-block;
    width: calc(100% - 140px);
    font-size: 84px;
  }
  
  .btn-group {
    display: inline-block;
    width: 140px;
    position: absolute;
    bottom: 0;
    text-align: right;
    font-size: 24px;
  
    button {
      display: inline-block;
      background-color: white;
      border: 1px solid gray;
      font-weight: bold;
      height: 60px;
      width: 60px
    }

    button:last-child {
      margin-left: 5px;
    }
  }
}

.items {
  padding: 10px;
  
  .item {
    box-shadow: 5px 5px 10px lightgray, -5px -5px 10px lightgray, 5px -5px 10px lightgray, -5px 5px 10px lightgray;
    margin: 10px;
    max-width: 400px;
    min-width: 400px;

    .item-info {
      height: 500px;
      position: relative;
      padding: 10px;

      .info-container {
        width: 280px;
        height: 100%;
        padding: 50px 20px 10px 20px;
        position: relative;
        font-size: 28px;
        font-weight: 600;
        line-height: 28px;

        .sub-info {
          text-align: center;
          font-size: 20px;
          position: absolute;
          bottom: 110px;
          width: 100%;

          .sub-info-item:not(:first-child) {
            margin-left: 10px;
          }

          .sub-info-item {
            width: 70px;
            border: 1px solid brown;
            .sub-info-title {
              background-color: brown;
              color: white;
              font-weight: bold;
            }
          }

          .sub-info-info {
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 20px;
            text-align: left;

            .sub-info-info-title, .sub-info-info-value {
              width: 50%;
              display: inline-block;
            }

            .sub-info-info-title {
              width: 30%;
            }
          }
        }

        .price-info {
         position: absolute;
         bottom: 10px;
        }

        .out-of-stock {
          color: red;
          font-size: 28px;
          font-weight: 600;
          line-height: 28px;
        }

        .sale-price {
          color: red;
          font-size: 36px;
          font-weight: 700;
          line-height: 36px;
        }

        .price {
          color: brown;
          font-size: 28px;
          font-weight: 600;
          line-height: 28px;
        }
      }

      .img-container {
        height: 400px;
        position: absolute;
        right: 25px;
        bottom: 10px;
        width: 100px
      }

      img {
        height:100%;
        width: auto
      }
    }
    .item-action {
      background-color: #7c6454;
      height: 120px;
      padding: 40px;
      text-align: center;

      & > * {
        display: inline-block;
        height: 40px;
      }

      .count {
        border: 1px solid white;
        font-size: 24px;
        vertical-align: middle;

        > * {
          height: 38px;
          display: inline-block; 
        }

        .count-btn {
          width: 20px;
          color: white;
        }

        .count-value {
          width: 40px;
          background-color: white;
        }
      }

      .add-to-cart {
        margin-left: 20px;
        padding: 5px 30px;
        color: white;
        text-align: center;
        border-radius: 20px;
        background-color: brown;
      }

      
    }
  }
}

.mobile {
  .info-container {
    font-size: 20px !important;
    line-height: 20px !important;
  }

  .title {
    font-size: 36px;
    width: calc(100% - 100px);
  }
  
  .btn-group {
    top: 50%;
    transform: translate(0, -50%);
    width: 100px;
    button {
      height: 40px;
      width: 40px
    }
  }
}

.is-on-sale {
  position: absolute;
  top: -5px;
  left: -5px;
  padding: 5px 10px;
  background-color: red;
  color: white;
  font-size: 24px;
  line-height: 24px;
}
