:host {
  display: block;
  width: 100%;
  text-align: center;
}

.introduce {
  width: 100%;
  padding: 1rem;
  display: inline-flex;

  &__item {
    padding: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 33.3333%;
    min-width: 33.3333%;
  }

  &__image {
    max-width: 100%;
    height: auto;
  }

  &__title {
    font-size: 20px;
    line-height: 20px;
    color: gray;
    margin-top: 10px;
  }

  &__text {
    margin-top: 10px;
  }
}

hr {
  width: 60%;
  border-top: 5px solid #7c6454; 
}

.heightlight {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  margin: 1rem 0;
  text-align: center;
  padding: 0 40px;

  &__item {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 25%;
    min-width: 25%;
    max-width: 25%;
    min-width: 25%;
    margin-bottom: 1rem;
    padding: 10px;
  }

  &__image-container {
    margin: auto;
    position: relative;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__info {
    position: absolute;
    width: 100%;
    margin: auto;;
    bottom: 0;
    color: white;
    background-color: rgba($color: #7c6454, $alpha: 0.8);
    padding: 10px;
  }

  &__title {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
  }

}

.mobile.heightlight {
  flex-direction: column;

  .heightlight__item {
    max-width: 100%;
    min-width: 100%;
  }

  .heightlight__image-container {
    max-width: 100%;
    margin: auto;
    position: relative;
  }

  .heightlight__image {
    width: 100%;
    height: auto;
  }
}